<mat-card class="card mb-3 mt-1">
    <mat-card-header class="card-header">
      <mat-card-title>Patient Information</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <p >Index: {{ patient?.index }}</p>
      <p>Age: {{ patient?.age }}</p>
      <p>Level: {{ patient?.level }}</p>
      <p>Air Pollution: {{ patient?.AirPollution }}</p>
      <p>Alcohol Use: {{ patient?.AlcoholUse }}</p>
      <p>Dust Allergy: {{ patient?.DustAllergy }}</p>
      <p>Occupational Hazards: {{ patient?.OccupationalHazards }}</p>
      <p>Genetic Risk: {{ patient?.GeneticRisk }}</p>
      <p>Chronic Lung Disease: {{ patient?.ChronicLungDisease }}</p>
      <p>Balanced Diet: {{ patient?.BalancedDiet }}</p>
      <p>Obesity: {{ patient?.Obesity }}</p>
      <p>Smoking: {{ patient?.Smoking }}</p>
      <p>Passive Smoker: {{ patient?.PassiveSmoker }}</p>
      <p>Chest Pain: {{ patient?.ChestPain }}</p>
      <p>Coughing of Blood: {{ patient?.CoughingOfBlood }}</p>
      <p>Fatigue: {{ patient?.Fatigue }}</p>
      <p>Weight Loss: {{ patient?.WeightLoss }}</p>
      <p>Shortness of Breath: {{ patient?.ShortnessOfBreath }}</p>
      <p>Wheezing: {{ patient?.Wheezing }}</p>
      <p>Swallowing Difficulty: {{ patient?.SwallowingDifficulty }}</p>
      <p>Clubbing of Finger Nails: {{ patient?.ClubbingOfFingerNails }}</p>
      <p>Frequent Cold: {{ patient?.FrequentCold }}</p>
      <p>Dry Cough: {{ patient?.DryCough }}</p>
      <p>Snoring: {{ patient?.Snoring }}</p>
    </mat-card-content>
  </mat-card>
  